{% extends "base.html" %} 


{% block content %}
<h1 class="nosabe">Realizar pedido</h1>


<form action="/compras/pedido/crear" method="post">
    <fieldset>
        <legend>Datos del pedido</legend>

        <label for="cedula">
            <span>Tú cédula: </span>
            <input type="text" name="cedula" id="cedula" value="{{ cedula_cliente }}" required readonly>
        </label>
        <label for="nombre_producto">
            <span>Nombre del producto</span>
            <input type="text" name="producto" id="producto" value="{{ producto['nombre'] }}" required readonly>
        </label>
        <input type="hidden" name="id_producto" id="id_producto" value="{{ producto_id }}" required readonly>
        <label for="cantidad">
            <span>Cantidad</span>
            <input type="number" name="cantidad" id="cantidad" min="1" step="1" required >
        </label>
        
        <button type="submit">Realizar pedido</button>

    </fieldset>
</form>


{% endblock %}