{% extends "base.html" %} 


{% block content %}
<h1 class="nosabe">Realizar encargo</h1>


<form action="/compras/encargo/crear" method="post">
    <fieldset>
        <legend>Datos del encargo</legend>

        <label for="cedula"> 
            <span>Cédula</span>
            <input type="text" name="cedula" id="cedula" value="{{ cedula_cliente }}" required readonly>
        </label>
        <input type="hidden" name="id_producto" id="id_producto" value="{{ producto_id }}" required readonly>
        <label for="nombre_producto">
            <span>Nombre del producto</span>
            <input type="text" name="nombre_producto" id="nombre_producto" value="{{ producto['nombre'] }}" readonly>
        </label>
        <label for="cantidad">
            <span>Cantidad</span>
            <input type="number" name="cantidad" id="cantidad" min="1" required >
        </label>

        <label for="caracteristicas">
            <span>Características (para borrar hacer doble clic y para seleccionar múltiples usar Ctrl y clic): </span>
            <select name="caracteristicas" id="caracteristicas" multiple required>
            </select>
        </label>

        <fieldset>
            <legend>Crear características</legend>
            <label for="nombre">
                <span>Nombre: </span>
                <input type="text" name="nombre" id="nombre">
            </label>
            <label for="explicacion">
                <span>Explicación: </span>
                <textarea name="explicacion" id="explicacion"></textarea>
            </label>
            <button type="button" onclick="agregar_nueva_caracteristica();">Agregar nueva característica</button> 
        </fieldset>
        <button type="submit">Realizar encargo</button>
    </fieldset>
</form>

{% endblock %}
