{% extends "base.html" %} 


{% block content %}
<h1 class="nosabe">Realizar encargo</h1>


<form action="/encargo/crear" method="post">
    <fieldset>
        <legend>Datos del encargo</legend>

        <label for="cedula">
            <span>Cédula</span>
            <input type="text" name="cedula" value="{{ cedula_cliente }}" required readonly>
        </label>

        <label for="id_producto">
            <span>Id del producto</span>
            <input type="number" name="id_producto" value="{{ producto_id }}" required readonly>
        </label>

        <label for="cantidad">
            <span>Cantidad</span>
            <input type="number" name="cantidad" required >
        </label>>

        <label for="fecha">
            <span>Fecha del encargo</span>
            <input type="date" name="fecha" value="{{ fecha }}" required readonly>
        </label>
        
        <button type="submit">Realizar encargo</button>

    </fieldset>
</form>


{% endblock %}