{% extends "base.html" %} 


{% block content %}
<h1>
    Compras que te han solicitado
</h1>


<table style="width:100%">
    <tr>
        <td>Producto</td>
        <td>Fecha</td>
        <td>Cantidad</td>
        <td>Tipo de compra</td>
        <td>Estado de la compra</td>
        
        <td>Opciones</td>
    </tr>

{% for compra in compras %}
    <tr>
        <td>{{ compra['producto'].nombre }}</td>
        <td>{{ compra['compra'].fecha }}</td>
        <td>{{ compra['compra'].cantidad }}</td>

        {% if compra['compra'].tipo_compra_id == 1 %}
        <td>Pedido</td>
        {% elif compra['compra'].tipo_compra_id == 2 %}
        <td>Encargo</td>
        {% endif %}
        

        {% if compra['compra'].estado_compra_id == 1 %}
        <td>Pendiente</td>
        <td><button onclick="location.href='/compras/artesano/{{ compra.compra.id }}'">Revisar</button></td>
        {% elif compra['compra'].estado_compra_id == 2 %}
        <td>Aprobado</td>
        <td>Opciones no disponibles</td>
        {% elif compra['compra'].estado_compra_id == 3 %}
        <td>Rechazado</td>
        <td>Opciones no disponibles</td>
        {% endif %}


    </tr>
    
    <div style="margin-bottom: 10px;"></div>
{% endfor %}

{% endblock %}