{% extends "base.html" %} 
{% block content %}
<h1>
    Compras que has solicitado
</h1>
<table>
    <tr>
        <th>Producto</th>
        <th>Fecha</th>
        <th>Cantidad</th>
        <th>Tipo de compra</th>
        <th>Estado de la compra</th>
    </tr>

{% for compra in compras %}
    <tr>
        <td>{{ compra['producto'].nombre }}</td>
        <td>{{ compra['compra'].fecha }}</td>
        <td>{{ compra['compra'].cantidad }}</td>

        {% if compra['compra'].tipo_compra_id == 1 %}
        <td>Pedido</td>
        {% elif compra['compra'].tipo_compra_id == 2 %}
        <td>Encargo</td>
        {% endif %}

        {% if compra['compra'].estado_compra_id == 1 %}
        <td>Pendiente</td>
        {% elif compra['compra'].estado_compra_id == 2 %}
        <td>Aprobado</td>
        <td>Opciones no disponibles</td>
        {% elif compra['compra'].estado_compra_id == 3 %}
        <td>Rechazado</td>
        <td>Opciones no disponibles</td>
        {% endif %}

    </tr>
    
    <div style="margin-bottom: 10px;"></div>
{% endfor %}
</table>
{% endblock %}