{% extends "base.html" %} 

{% block headblock %}
<script src="{{ url_for('static', path='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}

    <h2> {{ producto.nombre }}</h2>
        <img src=""> <!-- img vacía mientras se ve como implementarlo -->

        <h3> {{ descripcion.nombre }}</h3>
        <h3> {{ categoria }}</h3>
        <h3> {{ tipo }}</h3>

        <h3> {{ altura_cm.nombre }}</h3>
        <h3> {{ anchura_cm.nombre }}</h3>
        <h3> {{ profundidad_cm.nombre }}</h3>
        <h3> {{ producto.peso_gramo }}</h3>
        <h3> {{ producto.nombre }}</h3>
        <h3> {{ producto.nombre }}</h3>

        <a href="/productos/artesano/{{ usuario_cedula }}'"> Ver más productos del artesano {{ artesano }}</a>

        <button onclick="location.href='/compras/pedido/crear?product_id={{ producto.id }}'">Realizar pedido</button>
        <button onclick="location.href='/compras/encargo/crear?product_id={{ producto.id }}'">Realizar encargo</button>
        <br>

        <h2>Calificaciones</h2>

{% endblock %}