<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='/artesanal.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', path='js/index.js') }}" defer></script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1 class="nosabe">Inicio de sesión</h1>

    <form action="/iniciar_sesion" method="post">
        <fieldset>
            <legend>Inicia sesión</legend>
            <label for="cedula">
                <span>Cédula</span>
                <input type="text" name="cedula" placeholder="Cédula" required>
            </label>
    
            <label for="contraseña">
                <span>Contraseña</span>
                <input type="password" name="contraseña" placeholder="Contraseña" required>
            </label>
    
            <button type="submit">Iniciar sesión</button>
            <p>
                ¿No tienes ninguna cuenta? 
                <a href="/registrar">¡Regístrate!</a>
            </p>
        </fieldset>
        <br>
    </form>

    <!-- <form action="/linear" method="post">
        <fieldset>
            <legend>Buscar lineas</legend>
            <label for="lineas">
                <span>Lista de texto</span>
                <select name="lineas" id="lineas" multiple required>
                    <option value="hola">Como estas</option>
                    <option value="adios">Hasta luego</option>
                </select>
            </label>
            <button type="submit">Obtener lineas</button>
        </fieldset>
        <br>
    </form> -->
</body>
</html>