{% extends 'base.html' %}

{% block content %}

<section class="contactar">
    <!-- <h1>Bienvenidos a "Artesanal"</h1> -->
    <img src="/static/ciudad_pequeña.png" alt="Nuestra hermosa ciudad">
    <div>
        <a href="mailto:empresamariamoonlit72@gmail.com">
            <button type="button">Contáctanos</button>
        </a>
    </div>
</section>

<section class="contactanos">
    <h1>CONTACTOS</h1>
    <p>
        Dirección de tienda: <br>
        <i>Calle cualquiera 123, Cualquier lugar</i>
    </p>
    <p>
        Teléfonos: <br>
        <i>+58 911234567</i>
    </p>
    <p>
        Email: <br>
        <i>empresamariamoonlit72@gmail.com</i>
    </p>
<!-- hola@vivalavinotinto.ve -->
</section>

{% endblock %}