<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='/artesanal.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1 class="nosabe">Registro de usuario</h1>

    <form action="/registrar" method="post">
        <fieldset>
            <legend>Registrar usuario</legend>
            <label for="cedula">
                <span>Cédula</span>
                <input type="text" name="cedula" placeholder="Cedula" required>
            </label>
    
            <label for="correo">
                <span>Correo</span>
                <input type="text" name="correo" placeholder="Correo" required>
            </label>
    
            <label for="nombres">
                <span>Nombres</span>
                <input type="text" name="nombres" placeholder="nombres" required>
            </label>
    
            <label for="apellidos">
                <span>Apellidos</span>
                <input type="text" name="apellidos" placeholder="apellidos" required>
            </label>
    
            <label for="direccion">
                <span>Dirección</span>
                <input type="text" name="direccion" placeholder="direccion" required>
            </label>
    
            <label for="nacimiento">
                <span>Fecha de nacimiento</span>
                <input type="date" name="nacimiento" placeholder="fechanacimiento" max="{{ hoy }}" required>
            </label>
            <label for="tipo_id">
                <span>Tipo de usuario</span>
                <select name="tipo_id" id="tipo_id" required>
                    {% for esto in lista %}
                    <option value="{{ esto.id }}">{{ esto.nombre }}</option>
                    {% endfor %}
                </select>
            </label>
    
            <label for="contraseña">
                <span>Contraseña</span>
                <input type="password" name="contraseña" placeholder="contraseña" required>
            </label>
    
            <button type="submit">Registrar</button>

            <p>
                ¿Ya tienes cuenta? 
                <a href="/iniciar_sesion">¡Inicia sesión!</a>
            </p>
        </fieldset>
    </form>
</body>
</html>