<h1 class="nosabe">no viva</h1>

    <form action="/iniciar_sesion" method="post">
        <fieldset>
            <legend>Inicia sesión</legend>
            <label for="cedula">
                <span>Cédula</span>
                <input type="text" name="cedula" placeholder="Cédula" required>
            </label>
    
            <label for="contraseña">
                <span>Contraseña</span>
                <input type="password" name="contraseña" placeholder="Contraseña" required>
            </label>
    
            <button type="submit">Iniciar sesión</button>
            <p>
                ¿No tienes ninguna cuenta? 
                <a href="/registrar">¡Regístrate!</a>
            </p>
        </fieldset>
        <br>
    </form>