{% extends "base.html" %} 

{% block content %}
<div class="titulo">
    <h1>Crear tipo de producto</h1>
</div>

    <form action="/tipos_productos/crear" method="post">
        <fieldset>
            <legend>Datos tipo producto</legend>
            <label for="nombre">
                <span>Nombre:</span>
                <input type="text" name="nombre" placeholder="Nombre" required>
            </label>
    
            <label for="descripcion">
                <span>Descripción:</span>
                <input type="text" name="descripcion" placeholder="Descripcion" required>
            </label>

            <label for="funcionalidad">
                <span>Funcionalidad: </span>
                <select name="funcionalidad">
                    <option value=True>Funcional</option>
                    <option value=False>Decorativo</option>
                </select>
            </label>
    
            <button type="submit">Crear</button>
        </fieldset>
        <br>
    </form>


{% endblock %}