body {
    margin: 0%;
    background-color: #ebebeb;
}

h1, h2, h3 {
    text-align: center;
}

.perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    margin-right: 20%;
}

.perfil input {
    width: 50%;
}

.perfil div {
    margin: 2%;
}

.titulo {
    background-color: #f9d387;
    background-image: url('ciudad_pequeña.png');
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    padding: 0.5%;
    margin-bottom: 5%;
}

.titulo h1, .titulo h3  {
    font-size: xx-large;
}

.productos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productos div {
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    padding: 1%;
    margin: 3%;
    text-align: center;
}

.productos img {
    width: 50%;
    height: 50%;
}

.productos a {
    text-decoration: none;
}

.calificaciones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.calificaciones div {
    border-radius: 5px;
    background-color: grey;
    padding: 2%;
    margin: 2%;
}

.reseñas h2, .reseñas h3 {
    text-align: left;
}

.reseñas > div {
    border-radius: 5px;
    border: 1px dotted black;
    background-color: lemonchiffon;
    padding: 2%;
    margin: 2%;
}

.reseñas > div > div {
    border-radius: 5px;
    border: 1px dotted black;
    background-color: honeydew;
    padding: 2%;
    margin: 2%;
}

.producto {
    display: flex; 
    flex-wrap: wrap;
}

.producto h3 {
    text-align: left;
}

.producto img {
    padding: 1%;
}

table {
    width: 100%;
}

table, td, th {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: goldenrod;
}

th {
    border-bottom: 1px solid gold;
}

fieldset {
    display: grid;
    grid-template-columns: 1;
    margin-left: 30%;
    margin-right: 30%;
    /* border: none; */
}

fieldset legend {
    color: grey;
}

fieldset label {
    margin: 2%;
    display: grid;
    grid-template-columns: 1;
}

fieldset button {
    background-color: chocolate;
    color: aliceblue;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
}

fieldset p {
    text-align: center;
    color: grey;
}

main {
    padding: 1%;
}

nav {
    background-color: #ffbd59;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav span {
    font-size: x-large;
}

nav a, header a {
    text-decoration: none;
}

nav a {
    color: #9c7c3b;
}

header, footer {
    padding: 1%;
}

footer {
    background-color: #ffbd59;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header input {
    font-size: large;
}

header input::placeholder {
    color: #e7d4b7;
    opacity: 0.5; /* Firefox */
}

header::-ms-input-placeholder { 
    color: #e7d4b7;
}

header button {
    background-color: #d96e2a;
    font-size: large;
    width: 110%;
    border-radius: 5px;
}

header span {
    font-size: large;
}

header img {
    width: 5%;
}

footer img {
    width: 4%;
}