<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', path='/artesanal.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', path='js/index.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', path='artesanal.png') }}" alt="Ícono bonito">
        <div>
            <input type="search" name="buscar" id="buscar" placeholder="🔍 BUSCAR PRODUCTO">
        </div>
        <div>
            <a href="/home">
                <h1>ARTESANOS</h1>
            </a>
        </div>
        {% if info != None %}
        <div>
            <button>Invitar amigos</button>
        </div>
        <div>
            <a href="/logout">
                <span>Cerrar sesión</span>
            </a>
        </div>
        {% else %}
        <div>
            <a href="/registrar">
                <button>Registrar</button>
            </a>
        </div>
        <div>
            <a href="/iniciar_sesion">
                <button>Iniciar sesión</button>
            </a>
        </div>
        {% endif %}
    </header>
    <nav>
        <a href="/perfil">
            <span>Perfil</span>
        </a>
        <a href="/productos">
            <span>Productos</span>
        </a>
        <a href="/compras">
            <span>Compras</span>
        </a>
        <a href="/cotizaciones">
            <span>Cotizaciones</span>
        </a>
        <a href="/facturas">
            <span>Facturas</span>
        </a>
    </nav>

    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <a href="/">
            <img src="{{ url_for('static', path='artesanal.ico') }}" alt="Ícono bonito">
        </a>
        <p>ARTESANÍAS DESDE TU CIUDAD</p>
    </footer>
</body>
</html>