<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', path='/artesanal.ico') }}" type="image/x-icon">
    {% block headblock %} {% endblock %}
    <title>Document</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', path='artesanal.png') }}" alt="Ícono bonito">
        <div>
            <input type="search" name="buscar" id="buscar" placeholder="🔍 BUSCAR PRODUCTO">
        </div>
        <div>
            <a href="/home">
                <h1>ARTESANOS</h1>
            </a>
        </div>
        <div>
            <button>Invitar amigos</button>
        </div>
        <div>
            <a href="">
                <span>Cerrar sesión</span>
            </a>
        </div>
    </header>
    <nav>
        <a href="/perfil">
            <span>Perfil</span>
        </a>
        <a href="/productos">
            <span>Productos</span>
        </a>
        <a href="/compras">
            <span>Compras</span>
        </a>
        <a href="/cotizaciones">
            <span>Cotizaciones</span>
        </a>
        <a href="/facturas">
            <span>Facturas</span>
        </a>
    </nav>

    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <div>
            <a href="/">
                <img src="{{ url_for('static', path='artesanal.ico') }}" alt="Ícono bonito">
            </a>
        </div>
    </footer>
</body>
</html>