{% extends "base.html" %} 

{% block content %}
<h1>Crear categoría</h1>

    <form action="/cotizaciones/solicitar" method="post">
        <fieldset>
            <legend>Datos categoría</legend>
            <label for="nombre">
                <span>Nombre:</span>
                <input type="text" name="nombre" placeholder="Nombre" required>
            </label>
    
            <label for="descripcion">
                <span>Descripción:</span>
                <input type="text" name="descripcion" placeholder="Descripcion" required>
            </label>
    
            <button type="submit">Crear</button>
        </fieldset>
        <br>
    </form>


{% endblock %}