{% extends "base.html" %} 


{% block content %}
<h1>
    Cotizaciones que has solicitado
</h1>


<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Precio total</th>
        <th>Estado de la cotizacion</th>
        
        <th>Opciones</th>
    </tr>

{% for cotizacion in cotizaciones %}
    <tr> 
        <!--  -->
        <td>{{ cotizacion['producto'].nombre }}</td>
        <td>{{ cotizacion['compra'].cantidad }}</td>
        <td>{{ cotizacion['cotizacion'].precio }}</td>
        <td>{{ cotizacion['cotizacion'].precio * cotizacion['compra'].cantidad}}</td>
        


        {% if cotizacion['cotizacion'].estado_cotizacion_id == 1 %}
        <td>Pendiente por revisar</td>
        <td>
            <a href="/cotizaciones/cliente/{{ cotizacion['cotizacion'].id }}">
                <button>Revisar</button>
            </a>
        </td>
        {% elif cotizacion['cotizacion'].estado_cotizacion_id == 2 %}
        <td>Aprobado</td>
        <td>Opciones no disponibles</td>
        {% elif cotizacion['cotizacion'].estado_cotizacion_id == 3 %}
        <td>Rechazado</td>
        <td>Opciones no disponibles</td>
        {% elif cotizacion['cotizacion'].estado_cotizacion_id == 4 %}
        <td>Aprobado y facturado</td>
        <td>Opciones no disponibles</td>
        {% endif %}


    </tr>
    
    <div style="margin-bottom: 10px;"></div>
{% endfor %}
</table>
{% endblock %}