{% extends "base.html" %} 


{% block content %}
<h1>
    Cotizaciones que has enviado
</h1>


<table style="width:100%">
    <tr>
        <td>Producto</td>
        <td>Cantidad</td>
        <td>Precio</td>
        <td>Precio total</td>
        <td>Estado de la cotizacion</td>
        <td>Opciones</td>
    </tr>

{% for cotizacion in cotizaciones %}
    <tr> 
        <!--  -->
        <td>{{ cotizacion['producto'].nombre }}</td>
        <td>{{ cotizacion['compra'].cantidad }}</td>
        <td>{{ cotizacion['cotizacion'].precio }}</td>
        <td>{{ cotizacion['cotizacion'].precio * cotizacion['compra'].cantidad}}</td>
        


        {% if cotizacion['cotizacion'].estado_cotizacion_id == 1 %}
        <td>Pendiente por recibir confirmación</td>
        <td>Opciones no disponibles</td>
        {% elif cotizacion['cotizacion'].estado_cotizacion_id == 2 %}
        <td>Aprobado</td>
        <td><button onclick="location.href='/facturas/artesano/{{ cotizacion['cotizacion'].id }}'">Realizar factura</button></td>
        {% elif cotizacion['cotizacion'].estado_cotizacion_id == 3 %}
        <td>Rechazado</td>
        {% endif %}


    </tr>
    
    <div style="margin-bottom: 10px;"></div>
{% endfor %}

{% endblock %}