{% extends "base.html" %} 


{% block content %}

<div class="titulo">
    {% if tipo_usuario == 1 %}
    <h1>
        Facturas que has enviado
    </h1>
    {% elif tipo_usuario == 2 %}
    <h1>
        Facturas que has recibido
    </h1>
    {% else %}
    <h1>
        No deberías estar viendo esto
    </h1>
    {% endif %}
</div>

<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Precio total</th>
        <th>Fecha entrega</th>
        <th>Metodo de pago</th>
        <th>Metodo de envío</th>
        <th>Descargar</th>
    </tr>
{% for factura in facturas %}
    <tr> 
        <td>{{ factura['producto'].nombre }}</td>
        <td>{{ factura['compra'].cantidad }}</td>
        <td>{{ factura['cotizacion'].precio }}</td>
        <td>{{ factura['cotizacion'].precio * factura['compra'].cantidad}}</td>
        <td>{{ factura['factura'].fecha_entrega }}</td>
        <td>{{ factura['pago'] }}</td>
        <td>{{ factura['envia'] }}</td>
        <td>
            <a href="/descargar_factura/{{ factura['factura']['id'] }}">👁</a>
        </td>
    </tr>
    <div style="margin-bottom: 10px;"></div>
{% endfor %}
</table>
{% endblock %}